<!-- <h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->
<app-navbar />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Hello, Bootstrap!</h1>
    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button> -->
<!-- <button class="bg-indigo-500 p-3 m-3 text-lime-50 px-7 rounded" (click)="navigate()"> Hello</button> -->
